.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

main {
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

div {
  margin-top: 20px;
}